:root {
  --primary-color: red;
  --secondary-color: green;
}

body {
  font-family: "Nunito";
  background-color: rgb(229, 224, 216);
}

h1 {
  font-size: 45px;
  line-height: 40px;

  text-shadow: 100px 0px 80px black;
  color: rgb(255, 254, 253);
  font-weight: 700;
  text-align: center;
  margin-top: 300px;
  z-index: 1;
}

h2 {
  font-size: 25px;
  line-height: 40px;

  text-shadow: 100px 0px 80px black;
  color: white;
  font-weight: 500;
  text-align: center;
  z-index: 1;
}

h3 {
  color: black;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  line-height: 87px;
  text-align: center;
  z-index: 1;
}

p {
  font-size: 17px;
  line-height: 35px;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

.welcome {
  position: relative;
  text-align: center;
}

.headline {
  position: absolute;
  top: -15%;
  width: 100%;
  text-shadow: 100px 0px 80px black;
  color: white;
  text-align: center;
}

#portrait {
  width: 100%;
  position: relative;
  top: 40px;
  opacity: 70%;
}

.content {
  position: relative;
  top: 50px;
  max-width: 900px;
  margin: auto;
}

.youtube {
  width: 100%;
  display: block;
  margin: auto;
}

.small-screen {
  display: block;
}

.big-screen {
  display: none;
}

.island {
  position: relative;
  
  padding-top: 30px;
}

.bosnien {
  position: relative;
  
  padding-top: 30px;
}

.norwegen {
  position: relative;
 
  padding-top: 30px;
}

@media (min-width: 540px) {
  h1 {
    font-size: 75px;
    line-height: 75px;
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .welcome {
    max-width: 1024px;
  }

  .navbar {
    position: fixed;
    width: 100%;
  }

  .headline {
    position: absolute;
    top: -5%;
  }

  #portrait {
    width: 100%;
    position: relative;
    top: 20px;
    max-width: 1080px;
    display: block;
    margin: auto;
  }

  p {
    font-weight: 400;
    font-size: 23px;
    line-height: 40px;
  }

  .youtube {
    display: block;
    margin: auto;
    width: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #bosnien-text {
    padding-left: 12px;
  }

  .content {
    position: relative;
    top: 50%;
    width: 100%;
    max-width: 1024px;
  }

  .small-screen {
    display: none;
  }
  .big-screen {
    display: block;
  }
}
